Module 4/02 Wcf Service Host - Message API - Shared Contract/AsbaBank.Presentation.Shell/Service References/CommandHandlerServices/CommandHandlerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Asba.Commands" elementFormDefault="qualified" targetNamespace="Asba.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>