Module 4/03 Wcf Service Host - Message API - Shared Schema/AsbaBank.Presentation.Shell/Service References/QueryServices/QueryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Asba.Queries" elementFormDefault="qualified" targetNamespace="Asba.Queries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FetchAllClients">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="FetchAllClients" nillable="true" type="tns:FetchAllClients" />
  <xs:element name="Handle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HandleResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>