Module 4/03 Wcf Service Host - Message API - Shared Schema/AsbaBank.Presentation.Shell/Service References/QueryServices/QueryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AsbaBank.ApplicationService.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AsbaBank.ApplicationService.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClientDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientDto" nillable="true" type="tns:ClientDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientDto" nillable="true" type="tns:ArrayOfClientDto" />
  <xs:complexType name="ClientDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDto" nillable="true" type="tns:ClientDto" />
</xs:schema>