Module 3/03 Application-Service Host/AsbaBank.Infrastructure/Service References/Messaging/MessageBus2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50831/MessageBus.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AsbaBank.Core.Messaging" />
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AsbaBank.Core.Messaging" minOccurs="0" name="value" nillable="true" type="q1:Envelope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>