Module 4/04 Wcf Service Host - Message Api - Shared Schema/AsbaBank.Presentation.Shell/Service References/CommandHandlerServices/CommandHandlerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Asba.Commands" elementFormDefault="qualified" targetNamespace="Asba.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegisterClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterClient" nillable="true" type="tns:RegisterClient" />
  <xs:complexType name="UpdateClientAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateClientAddress" nillable="true" type="tns:UpdateClientAddress" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="command" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>