Module 4/01 Wcf Service Host - RPC API - Shared Schema/AsbaBank.Presentation.Shell/Service References/ClientServices/ClientServiceProxy1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="AsbaBank.Clients" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="AsbaBank.Clients" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="AsbaBank.Clients/Imports">
      <xsd:import schemaLocation="http://localhost:49525/ClientServiceProxy.svc?xsd=xsd0" namespace="AsbaBank.Clients" />
      <xsd:import schemaLocation="http://localhost:49525/ClientServiceProxy.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49525/ClientServiceProxy.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AsbaBank.ApplicationService.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ClientService_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="ClientService_RegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="ClientService_UpdateClientAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientAddress" />
  </wsdl:message>
  <wsdl:message name="ClientService_UpdateClientAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ClientService_FetchAllClients_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllClients" />
  </wsdl:message>
  <wsdl:message name="ClientService_FetchAllClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllClientsResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientService">
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="AsbaBank.Clients/ClientService/RegisterClient" message="tns:ClientService_RegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="AsbaBank.Clients/ClientService/RegisterClientResponse" message="tns:ClientService_RegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientAddress">
      <wsdl:input wsaw:Action="AsbaBank.Clients/ClientService/UpdateClientAddress" message="tns:ClientService_UpdateClientAddress_InputMessage" />
      <wsdl:output wsaw:Action="AsbaBank.Clients/ClientService/UpdateClientAddressResponse" message="tns:ClientService_UpdateClientAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAllClients">
      <wsdl:input wsaw:Action="AsbaBank.Clients/ClientService/FetchAllClients" message="tns:ClientService_FetchAllClients_InputMessage" />
      <wsdl:output wsaw:Action="AsbaBank.Clients/ClientService/FetchAllClientsResponse" message="tns:ClientService_FetchAllClients_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>