Module 4/01 Wcf Service Host - RPC API - Shared Schema/AsbaBank.Presentation.Shell/Service References/ClientServices/ClientServiceProxy2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="AsbaBank.Clients" elementFormDefault="qualified" targetNamespace="AsbaBank.Clients" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49525/ClientServiceProxy.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AsbaBank.ApplicationService.Dtos" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientSurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element minOccurs="0" name="streetNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postalCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientAddressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AsbaBank.ApplicationService.Dtos" minOccurs="0" name="FetchAllClientsResult" nillable="true" type="q1:ArrayOfClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>